<!doctype html>
<html style="height:100%">
<head><meta charset="utf-8"><title>Containing block percentage heights</title>
<style>
body { height:100%; margin:0 }
div { margin:0; padding:0; border:0 }
</style></head>
<body>
<div id="definite" style="height:200px"><div id="half" style="height:50%"><div id="quarter" style="height:50%"></div></div></div>
<div id="broken" style="height:200px"><div id="auto"><div id="auto-percent" style="height:50%"><div style="height:30px"></div></div></div></div>
<div id="viewport-half" style="height:50%"><div id="viewport-quarter" style="height:50%"></div></div>
<div style="height:200px"><div style="height:50%;overflow:hidden"><div style="height:50%"></div></div></div>
</body></html>
