<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Table layout cases</title>
<style>
  body { margin: 8px; font: 16px/1.25 serif; }
  section { margin: 0 0 12px 0; padding: 0; }
  .c1 td, .c1 th { padding: 3px; }
  .spaced { border-spacing: 7px 3px; }
  .outer { border: 3px solid #800; }
  .collapse { border-collapse: collapse; }
  .collapse td, .collapse th { border: 1px solid #333; padding: 2px 4px; }
  .thick td { border: 3px solid #060; }
  .mixed td:nth-child(1) { border-left: 5px solid #006; }
  .mixed td:nth-child(2) { border: 2px dashed #660; }
  .hidden { border-style: hidden; }
  .hidden td { border: 2px solid #444; }
  .fixed { table-layout: fixed; width: 400px; }
  .w50 { width: 50%; }
  .pad td { padding: 10px 20px; }
  .nowrap td { white-space: nowrap; }
  .tall { height: 200px; }
  .box td { box-sizing: border-box; }
  .float { float: left; margin-right: 10px; }
  .clear { clear: both; }
  .inline { display: inline-table; border: 1px solid #00a; margin: 2px; }
  .cap-wide caption { padding: 4px; }
  .tight { border-spacing: 0; }
  .tight td { padding: 0; }
  .minmax td { min-width: 60px; max-width: 120px; }
  .big { font-size: 24px; }
  .small { font-size: 11px; }
  .t60 td { padding: 0; height: 60px; }
  .groups thead { height: 30px; }
  .groups tbody { border: 2px solid #a00; }
</style>
</head>
<body>
<section>
<table class="collapse" style="border: 1px solid"><tr><th style="position: relative; height: 3em; padding: 4px; border: 1px solid; width: 200px"><span style="position: absolute; bottom: 4px; left: 8px">Field</span><div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 1px dotted"></div><span style="position: absolute; top: 4px; right: 8px">Row</span></th><th style="border: 1px solid">tall<br>second<br>third<br>fourth</th></tr></table>
<table style="border-spacing: 5px"><tr><td style="position: relative; padding: 4px; border: 2px solid; width: 120px; height: 90px"><div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 1px solid"></div>separate borders</td></tr></table>
</section>


<section>
<table class="c1" id="plain">
  <caption>Plain table with a caption</caption>
  <thead><tr><th>Head A</th><th>Head B</th><th>Head C</th></tr></thead>
  <tbody>
    <tr><td>one</td><td>two two</td><td>three three three</td></tr>
    <tr><td>four</td><td>five</td><td>six</td></tr>
  </tbody>
  <tfoot><tr><td colspan="3">footer spanning all three columns</td></tr></tfoot>
</table>
</section>

<section>
<table class="c1 spaced outer" style="caption-side: bottom">
  <caption>Caption below, spacing and an outer border</caption>
  <tr><td>a</td><td>bb</td></tr>
  <tr><td>ccc</td><td>dddd</td></tr>
</table>
</section>

<section>
<table class="collapse">
  <tr><th>Name</th><th>Value</th><th>Note</th></tr>
  <tr><td>alpha</td><td>1</td><td>first</td></tr>
  <tr><td>beta</td><td>22</td><td>second entry</td></tr>
</table>
</section>

<section>
<table class="collapse thick outer" style="margin-left: 20px">
  <tr><td>thick</td><td>cells</td></tr>
  <tr><td>and an</td><td>outer border</td></tr>
</table>
</section>

<section>
<table class="collapse mixed">
  <tr><td>mixed</td><td>borders</td><td>here</td></tr>
  <tr><td>two</td><td>rows</td><td>too</td></tr>
</table>
</section>

<section>
<table class="collapse hidden">
  <tr><td>hidden</td><td>table</td></tr>
  <tr><td>border</td><td>wins</td></tr>
</table>
</section>

<section>
<table class="collapse">
  <tr><td style="border-right: 4px solid red" rowspan="2">r</td><td>x</td><td style="border-bottom: 3px solid blue">y</td></tr>
  <tr><td colspan="2" style="border-top: 1px solid green">wide cell</td></tr>
</table>
</section>

<section>
<table class="c1" style="width: 500px">
  <tr><td>width 500</td><td>auto</td><td>auto columns</td></tr>
</table>
</section>

<section>
<table class="c1" style="width: 70%">
  <tr><td style="width: 30%">30 percent</td><td>rest</td><td style="width: 100px">100px</td></tr>
</table>
</section>

<section>
<table class="c1">
  <tr><td style="width: 25%">twenty five percent text</td><td style="width: 25%">another quarter</td><td>auto auto auto auto auto auto</td></tr>
</table>
</section>

<section>
<table class="c1">
  <colgroup><col style="width: 80px"><col><col span="2" style="width: 40px"></colgroup>
  <tr><td>a</td><td>b</td><td>c</td><td>d</td></tr>
  <tr><td>aaaa</td><td>bbbbbbbbbb</td><td>c</td><td>d</td></tr>
</table>
</section>

<section>
<table class="c1">
  <colgroup span="2" style="width: 60px"></colgroup>
  <tr><td>a</td><td>b</td><td>c</td></tr>
</table>
</section>

<section>
<table class="c1">
  <tr><td colspan="2">a spanning cell with a long unbreakable text</td><td>c</td></tr>
  <tr><td>a</td><td>bbbbbb</td><td rowspan="2">rowspan two</td></tr>
  <tr><td colspan="2">another span</td></tr>
</table>
</section>

<section>
<table class="c1 spaced" style="width: 520px">
  <tr style="height: 90px">
    <td style="vertical-align: top">top</td>
    <td style="vertical-align: middle">middle</td>
    <td style="vertical-align: bottom">bottom</td>
    <td style="vertical-align: baseline; font-size: 28px">base</td>
    <td style="vertical-align: baseline">base two<br>lines</td>
    <td>default</td>
  </tr>
</table>
</section>

<section>
<table class="c1">
  <tr><td rowspan="3" style="vertical-align: middle">span<br>three<br>rows</td><td>a</td></tr>
  <tr><td>b</td></tr>
  <tr><td>c</td></tr>
</table>
</section>

<section>
<table class="fixed">
  <tr><td style="width: 80px">80</td><td>auto one</td><td style="width: 20%">20 percent</td><td>auto two</td></tr>
  <tr><td>ignored</td><td>this long text does not widen the column in fixed layout at all</td><td>x</td><td>y</td></tr>
</table>
</section>

<section>
<table style="table-layout: fixed; width: 300px; border-spacing: 5px">
  <col style="width: 100px"><col>
  <tr><td colspan="2">spanning cell in fixed layout</td></tr>
  <tr><td>a</td><td>b</td></tr>
</table>
</section>

<section>
<table class="c1 tall" style="width: 200px">
  <tr><td>row one</td></tr>
  <tr><td>row two<br>two lines</td></tr>
  <tr><td>row three</td></tr>
</table>
</section>

<section>
<table class="c1" style="height: 160px; width: 200px">
  <tr style="height: 40px"><td>fixed row</td></tr>
  <tr><td>auto row</td></tr>
  <tr><td style="height: 30px">cell height</td></tr>
</table>
</section>

<section>
<table class="c1">
  <tr><td>outer cell
    <table class="collapse"><tr><td>inner</td><td>table</td></tr></table>
  </td><td>next</td></tr>
</table>
</section>

<section>
<table class="c1 minmax">
  <tr><td>short</td><td>a cell with a lot of words in it that need to wrap somewhere</td></tr>
</table>
</section>

<section>
<table class="c1 nowrap">
  <tr><td>no wrapping in these cells at all</td><td>second cell without wrapping</td></tr>
</table>
</section>

<section>
<table class="c1 pad box" style="width: 300px">
  <tr><td style="width: 100px">box sizing border box</td><td>x</td></tr>
</table>
</section>

<section>
<table class="c1 w50 float"><tr><td>floated table</td><td>shrinks to fit</td></tr></table>
<table class="c1 float"><tr><td>second float</td></tr></table>
<div class="clear"></div>
</section>

<section>
Inline tables: <table class="c1 inline"><tr><td>one</td><td>two</td></tr></table> and <table class="c1 inline"><tr><td>three</td></tr><tr><td>four</td></tr></table> in a line.
</section>

<section>
<table class="c1 cap-wide" style="width: 120px">
  <caption>A caption whose text is much wider than the table that holds it</caption>
  <tr><td>a</td><td>b</td></tr>
</table>
</section>

<section>
<table class="tight"><tr><td>tight</td><td>cells</td></tr><tr><td>no</td><td>spacing</td></tr></table>
</section>

<section>
<table class="c1"></table>
<table class="c1"><tr></tr></table>
<table class="c1"><tr><td></td><td></td></tr><tr><td>x</td><td></td></tr></table>
</section>

<section>
<table border="1" cellpadding="6" cellspacing="4" width="360">
  <tr><td>html attrs</td><td width="100">w100</td></tr>
  <tr><td>border one</td><td>cell padding six</td></tr>
</table>
</section>

<section>
<table class="c1 groups">
  <thead><tr><th>h1</th><th>h2</th></tr></thead>
  <tbody><tr><td>b1</td><td>b2</td></tr><tr><td>b3</td><td>b4</td></tr></tbody>
  <tbody><tr><td>c1</td><td>c2</td></tr></tbody>
  <tfoot><tr><td>f1</td><td>f2</td></tr></tfoot>
</table>
</section>

<section>
<table class="c1 big"><tr><td>big text</td><td class="small">small text</td><td>big</td></tr></table>
</section>

<section>
<table class="collapse t60" style="width: 300px">
  <tr><td>a</td><td>b</td></tr>
  <tr><td>c</td><td style="vertical-align: bottom">d</td></tr>
</table>
</section>

<section>
<table class="c1" style="margin: 0 auto; width: 300px"><tr><td>centered by auto margins</td></tr></table>
</section>

<section>
<table class="c1" style="max-width: 150px"><tr><td>a very long line of text in a table with a maximum width</td></tr></table>
<table class="c1" style="min-width: 300px"><tr><td>min width</td></tr></table>
</section>

<section>
<div style="display: table; border-spacing: 3px"><div style="display: table-row"><div style="display: table-cell; padding: 2px">css</div><div style="display: table-cell; padding: 2px">tables</div></div><div style="display: table-row"><div style="display: table-cell">second</div><div style="display: table-cell">row here</div></div></div>
</section>

<section>
<div style="display: table; width: 300px"><div style="display: table-cell">cell without a row</div><div style="display: table-cell">another</div></div>
</section>

<section>
<table class="c1">
  <tfoot><tr><td>foot first</td><td>f</td></tr></tfoot>
  <tbody><tr><td>body</td><td>b</td></tr></tbody>
  <thead><tr><th>head last</th><th>h</th></tr></thead>
</table>
</section>

<section>
<table class="c1">
  <tr><td colspan="5">a colspan wider than the grid</td><td>x</td></tr>
  <tr><td>1</td><td>2</td></tr>
</table>
</section>

<section>
<table class="c1 collapse">
  <thead style="border-bottom: 4px solid #a00"><tr><th>row group</th><th>border</th></tr></thead>
  <tbody><tr style="border-top: 6px double #00a"><td>row</td><td>border</td></tr><tr><td style="border-bottom: hidden">hidden</td><td>x</td></tr><tr><td>after</td><td>y</td></tr></tbody>
</table>
</section>

<section>
<table class="c1 collapse" style="border: 8px solid #060; width: 300px">
  <caption style="margin: 5px 10px; padding: 3px">caption with margins</caption>
  <tr><td>wide table border</td><td>second</td></tr>
</table>
</section>

<section>
<table class="c1" style="width: 400px">
  <colgroup><col style="width: 30%"><col style="width: 50px"><col></colgroup>
  <tr><td>percent col</td><td>fixed col</td><td>auto col with more text</td></tr>
</table>
</section>

<section>
<table class="c1" style="width: 300px">
  <tr><td style="width: 80%">eighty</td><td style="width: 40%">forty</td><td>none</td></tr>
</table>
</section>

<section>
<table class="c1" style="table-layout: fixed">
  <tr><td style="width: 200px">fixed with auto width is auto layout, so the long text widens it</td><td>b</td></tr>
</table>
</section>

<section>
<table class="c1" style="table-layout: fixed; width: 100%; border-collapse: collapse">
  <tr><td style="width: 100px; border: 4px solid blue">fixed collapse</td><td>b</td><td style="width: 30%">c</td></tr>
</table>
</section>

<section>
<table class="c1" style="height: 50%"><tr><td>percent height</td></tr></table>
</section>

<section>
<table style="width: 300px; border-spacing: 10px 0">
  <tr><td style="vertical-align: baseline; height: 60px; font-size: 12px">small</td><td style="vertical-align: baseline; font-size: 30px">large</td><td style="vertical-align: bottom">bottom</td></tr>
  <tr><td colspan="2" style="vertical-align: middle; height: 40px">span middle</td><td style="vertical-align: top">top</td></tr>
</table>
</section>

<section>
<table class="c1">
  <tr><td>a<p style="margin: 10px 0">paragraph with margins</p>b</td><td><div style="float: left; width: 30px; height: 40px; background: #ccc"></div>float</td><td><div style="overflow: hidden; height: 20px">clipped block with a lot of text that wraps around</div></td></tr>
</table>
</section>

<section>
<table class="c1 big">
  <tr><td><span style="font-size: 10px">tiny</span> mixed <span style="font-size: 30px">huge</span></td><td><img width="40" height="30" alt=""></td></tr>
</table>
</section>

<section>
<table class="c1" style="border-spacing: 20px 5px; border: 4px solid #333; padding: 6px">
  <caption style="caption-side: bottom; margin-top: 4px">spacing, padding and border together</caption>
  <tr><td>a</td><td>b</td></tr><tr><td>c</td><td>d</td></tr>
</table>
</section>

<section>
<table class="c1"><tr><td rowspan="0">rowspan zero</td><td>x</td></tr><tr><td>y</td></tr></table>
</section>

<section>
<table class="c1"><tr><th>a th that is centered</th><td>and a td</td></tr><tr><th colspan="2" style="text-align: left">left th spanning</th></tr></table>
</section>

<section>
<table class="c1" style="width: 20px"><tr><td>unbreakable</td><td>words</td></tr></table>
<table class="c1" style="width: 0"><tr><td>zero</td></tr></table>
</section>

<section>
<table class="c1"><tr><td><table class="c1" style="width: 100%"><tr><td>nested hundred percent</td></tr></table></td><td>x</td></tr></table>
</section>

<section>
<table class="c1"><tr style="height: 40px"><td>tall row</td><td style="padding: 20px 4px">padded</td></tr><tr><td colspan="2" style="height: 10px">short span</td></tr></table>
</section>

<section>
<table class="c1"><tr><td>one</td><td style="display: none">hidden cell</td><td>three</td></tr><tr style="display: none"><td>hidden row</td></tr><tr><td>a</td><td>b</td><td>c</td></tr></table>
</section>

<section>
<table class="c1" style="display: block; width: 200px"><tbody><tr><td>display block table with an anonymous table inside</td></tr></tbody></table>
</section>

<section>
<table class="c1" style="width: 400px"><tr><td colspan="2" style="width: 50%">span half</td><td>x</td></tr><tr><td>a</td><td>b</td><td>c</td></tr></table>
</section>

<section>
<table class="c1" style="width: 100%"><tr><td style="white-space: nowrap">a long line of text that cannot wrap and is longer than anything else in the row here and goes on and on and on and on and on and on and on and on and on and on and on and on and on and on</td><td>b</td></tr></table>
</section>

<section>
<table class="c1" style="margin: 10px auto 0 auto"><tr><td>auto margins shrink to fit</td></tr></table>
<table class="c1" style="margin-left: auto"><tr><td>right aligned</td></tr></table>
</section>

<section>
<table class="c1" style="border-spacing: 0; border-collapse: separate"><tr><td style="border: 3px solid #a00">a</td><td style="border: 1px solid #00a">b</td></tr></table>
</section>

<section>
<table class="c1 collapse" style="border-spacing: 10px"><caption>collapse ignores spacing</caption><tr><td>a</td><td>b</td></tr></table>
</section>

<section>
<table class="c1"><tr><td style="height: 50px; vertical-align: bottom">bottom 50</td><td style="vertical-align: baseline">base</td><td style="vertical-align: middle">mid</td></tr></table>
</section>

<section>
<figure style="display: table; margin: 0 0 0 10px; border-collapse: collapse"><div style="width: 100px; height: 60px; background: #ccc"></div><figcaption style="display: table-caption; caption-side: bottom; line-height: 1.2; padding: 0 6px 6px">A caption under the figure that wraps over several lines</figcaption></figure>
</section>

<section>
<div style="display: table; border-spacing: 4px">text directly in a table <span style="font-size: 20px">with</span> an inline box</div>
</section>

<section>
<div style="display: table"><div style="display: table-row-group"><div style="display: table-cell; padding: 3px">cells</div><div style="display: table-cell; padding: 3px">in a group</div></div></div>
</section>

<section>
<div style="display: table; height: 80px; width: 200px"><div style="width: 50px; height: 20px; background: #ccc"></div></div>
</section>

<section style="font: 10px monospace">
<style>.span td { padding: 0; vertical-align: top; } .span { width: min-content; border-spacing: 0; margin-bottom: 6px; }</style>
<table class="span"><tr><td colspan="2"><div style="width: 300px">x</div></td></tr><tr><td>aaaa aaaa aaaa</td><td>bbbbbbbb</td></tr></table>
<table class="span"><tr><td colspan="2"><div style="width: 300px">x</div></td></tr><tr><td>aaaa aaaa aaaa aaaa aaaa aaaa aaaa aaaa</td><td>bbbbbbbb</td></tr></table>
<table class="span"><tr><td colspan="2"><div style="width: 300px">x</div></td></tr><tr><td>aaaa</td><td>bbbb bbbb bbbb bbbb bbbb bbbb bbbb</td></tr></table>
<table class="span"><tr><td colspan="2"><div style="width: 300px">x</div></td></tr><tr><td>aaaaaaaaaaaaaaaaaaaaaa</td><td>bbbb bbbb bbbb bbbb bbbb bbbb bbbb</td></tr></table>
<table class="span"><tr><td colspan="3"><div style="width: 300px">x</div></td></tr><tr><td>aa aa</td><td>bb bb bb bb bb bb bb bb bb</td><td>cccccccccc</td></tr></table>
<table class="span"><tr><td colspan="2"><div style="width: 100px">x</div></td></tr><tr><td>aaaa aaaa aaaa aaaa aaaa aaaa</td><td>bbbb bbbb bbbb bbbb bbbb bbbb bbbb bbbb bbbb bbbb bbbb bbbb</td></tr></table>
</section>

<section style="font: 14px monospace">
<style>.bidi td { padding: 0; } .bidi { width: min-content; border-spacing: 0; margin-bottom: 6px; }</style>
<table class="bidi"><tr><td>aaaa bbb.<span style="unicode-bidi: isolate">[5]</span> cc dd</td></tr></table>
<table class="bidi"><tr><td>aaaa bbb.<span>[5]</span> cc dd</td></tr></table>
<table class="bidi"><tr><td>aaaa bbb.<span style="unicode-bidi: embed">[5]</span> cc dd</td></tr></table>
<table class="bidi"><tr><td>aaaa bbb.<span dir="ltr">[5]</span> cc dd</td></tr></table>
<table class="bidi"><tr><td>aaaa bbb.<span dir="foo">[5]</span> cc dd</td></tr></table>
<table class="bidi"><tr><td>aaaa bbb.<bdi>[5]</bdi> cc dd</td></tr></table>
<table class="bidi"><tr><td>aa <span style="unicode-bidi: isolate">bbbbbbbbbb</span></td></tr></table>
<table class="bidi"><tr><td>aa-<span style="unicode-bidi: isolate">bbbbbbbbbb</span></td></tr></table>
<table class="bidi"><tr><td>aa<span style="unicode-bidi: isolate"> bbbbbbbbbb</span></td></tr></table>
<table class="bidi"><tr><td>aa<span style="unicode-bidi: isolate">bbbbbbbbbb</span></td></tr></table>
<table class="bidi"><tr><td>aa <span style="unicode-bidi: isolate">bbbbbbbbbb</span></td></tr></table>
</section>

<section style="font: 14.08px sans-serif">
<style>.alt td { padding: 0; } .alt { border-spacing: 0; margin-bottom: 4px; }</style>
<table class="alt"><tr><td style="width: 1px"><a style="white-space: nowrap"><img src="a.png" alt="Emblem of the Apollo program" width="80" height="80" style="vertical-align: middle"></a></td></tr></table>
<table class="alt" style="width: min-content"><tr><td><img src="a.png" alt="Emblem of the Apollo" style="white-space: nowrap"></td></tr></table>
<table class="alt" style="width: max-content"><tr><td><img src="a.png" alt="Emblem of the Apollo" style="white-space: nowrap"></td></tr></table>
<table class="alt" style="width: min-content"><tr><td><img src="a.png" alt="Emblem of the Apollo"></td></tr></table>
</section>

</body>
</html>
